
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
    background-color: #fffcfc;
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

header{
    background-color: #fbfbfb;
    color: 0f0f0f;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    height: 70px;
    text-align: center;
}

nav ul{
    display: flex;
}

nav ul li{
    margin-right: 20px;
}

nav ul li:last-child{
    margin-right: 40px;
}

nav ul li a{
   font-weight: bold;
   font-size: 20px;
}

section{
    min-height: 100vh;
}

main {
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

#foto{
    max-width: 70%;
    max-height: 70%;
    border-radius: 50%;
    display:flex;
    margin-right: auto;
    margin-left: auto;
}

#menu{
    display: flex;
    align-items: center;
    text-align: center;
}

h1{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 36px;
}

p{
    font-size: 18px;
    line-height: 1.2;
    text-align: justify;
}

#descarga{
    display: flex;
    width: 30%;
    height: 3vh;
    background-color: rgb(143, 0, 179);
    color: aliceblue;
    border-radius: 15vh;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}

button{
    border-style: none;
    align-items: center;
    text-align: center;
}

#hablemos{
    background-color: rgba(175, 89, 158, 0.3);
    color: #0f0f0f;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}

#contacto{
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
}

img {
    display: flex;
    max-width: 60%;
    padding: 0%;
    justify-content: space-between;
    margin-left: auto;
    margin-right:auto;
}

footer{
    background-color: #af599e;
    height: 90px;
}

footer h3{
    text-align: center;
    padding: 20px;
}